<%- include('../partials/header') %>
        <h2>Current Flights</h2>
        <form action="/flights" method="GET"><input type="submit" value="Show All Flights"></form>
        <table>
            <thead>
                  <tr>
                    <th>Airline</th>
                    <th>Airport</th>
                    <th>Flight Number</th>
                    <th>Departure Date</th>
                  </tr>
            </thead>
                <tbody>
                  <% Flight.forEach(function(Flight) { %>
                    <tr>
                      <td><%= m.airline %></td>
                      <td><%= m.airport %></td>
                      <td><%= m.flightNo %></td>
                      <td><%= m.departs %></td>
                      </tr>
                    <% }) %>
                </tbody>
              </table>
<%- include('../partials/footer') %>