<%- include('../partials/header') %>
<h2>All Flights</h2>
<!-- <input type="submit" value="Find Flight"> -->
<br></br>
   <table id="list">
        <thead>
          <tr>
            <th>Flight Number</th>    
            <th>Departure Airport</th>
            <th>Airline</th>
            <th>Date</th>
            <th>Time</th>
            <th>More Info</th>
          </tr>
        </thead>
        <tbody>
          <% flights.forEach(function(f) { %>
            <tr>
              <td><%= f.flightNo %></td>  
              <td><%= f.airport %></td>
              <td><%= f.airline %></td>
              <td><%= f.departDate.toDateString() %></td>
              <td><%= f.departTime %></td>
              <td><a href="/flights/<%= f._id %>">Flight Details</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        
<%- include('../partials/footer') %>