<%- include('../partials/header') %>
<h2>Departure Flight Details</h2>
<!-- <input type="submit" value="Find Flight"> -->
<table id="show-page">
    <thead>
        <tr>
            <th>Flight Number </th>
            <th>Departure Airport </th>
            <th>Airline </th>
            <th>Departure Date </th>
            <th>Departure Time </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%= flight.flightNo %></th>
            <th><%= flight.airport %></th>
            <th><%= flight.airline %></th>
            <th><%= flight.departDate.toDateString() %></th>
            <th><%= flight.departTime %></th>
        </tr>
    </tbody> 
</table>

<h4>Return Flight Details</h4>
    <br></br>
    <table id="show-page">
        <thead>
            <tr>
                <th>Destination </th>
                <th>Return Date </th>
                <th>Return Time </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><%= flight.destinations.arrivalAirport %></th>
                <th><%= flight.destinations.arrivalDate.toDateString() %></th>
                <th><%= flight.destinations.arrivalTime %></th> 
            </tr>
        </tbody> 
    </table>
<%- include('../partials/footer') %>