<%- include('../partials/header') %>
<h2>Show Flight Details</h2>
<!-- <input type="submit" value="Find Flight"> -->
<br></br>
<section id="show-page">
    <div>Flight Number </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Airport </div>
    <div><%= flight.airport %></div>
    <div>Airling </div>
    <div><%= flight.airline %></div>
    <div>Departure Date </div>
    <div><%= flight.departDate.toDateString() %></div>
    <div>Departure Time </div>
    <div><%= flight.departTime %></div>
  </section>
    <form>   
        <label>Destination:
            <select name="Airport">
                <option value=""></option>
                <option value="AUS">Austin, TX - AUS</option>
                <option value="DFW">Dallas, TX - DFW</option>
                <option value="DEN">Denver, CO - DEN</option>
                <option value="LAX">Los Angeles, CA - LAX</option>
                <option value="DEN">San Diego, CA - SAN</option>
            </select>
        <label>Return Date:
            <input type="date" name="departDate"
            value=defaultDate>
            <br>
        <label>Return Time:
            <input type="time" name="departTime">
            </label>
            <input type="submit" value="Add Flight">
    </form> 
<%- include('../partials/footer') %>