<%- include('../partials/header') %>
<h2>Show Flight Details</h2>
<table id="show-page">
    <thead>
        <tr>
            <th>Flight Number </th>
            <th>Departure Airport </th>
            <th>Airline </th>
            <th>Departure Date </th>
            <th>Departure Time </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%= flight.flightNo %></th>
            <th><%= flight.airport %></th>
            <th><%= flight.airline %></th>
            <th><%= flight.departDate.toDateString() %></th>
            <th><%= flight.departTime %></th>
        </tr>
    </tbody> 
</table>
<h4>Select Destination and Return Flight Info Below:</h4>
<form action="../flights/<%= flight._id %>/destinations" method="POST">  
        <label>Destination:
            <select name="destination">
                <option value=""></option>
                <option value="Austin, TX - AUS">Austin, TX - AUS</option>
                <option value="Dallas, TX - DFW">Dallas, TX - DFW</option>
                <option value="Denver, CO - DEN">Denver, CO - DEN</option>
                <option value="Los Angeles, CA - LAX">Los Angeles, CA - LAX</option>
                <option value="San Diego, CA - SAN">San Diego, CA - SAN</option>
            </select>
        <br>    
        <label>Return Date:
            <input type="date" name="departDate"
            value=defaultDate>
            <br>
        <label>Return Time:
            <input type="time" name="departTime">
            </label>
            <br>
            <input type="submit" value="Update Flight Information">
    </form> 
<% if (flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Return Date</th>
                <th>Return Time</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(f) { %>
                <tr>
                    <td><%= f.destination %></td>
                    <td><%= f.returnDate %></td>
                    <td><%= f.returnTime %></td>
                </tr>
         <% }) %>
        </tbody>
    </table>
<% } else { %> 
    <h4>No Return Flight Selected</h4>
    <% } %>
<%- include('../partials/footer') %>