<%- include('../partials/header') %>
<h2>Show Flight Details</h2>
<!-- <input type="submit" value="Find Flight"> -->
<table id="show-page">
    <thead>
        <tr>
            <th>Flight Number </th>
            <th>Departure Airport </th>
            <th>Airline </th>
            <th>Departure Date </th>
            <th>Departure Time </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><%= flight.flightNo %></th>
            <th><%= flight.airport %></th>
            <th><%= flight.airline %></th>
            <th><%= flight.departDate.toDateString() %></th>
            <th><%= flight.departTime %></th>
        </tr>
    </tbody> 
</table>
<h4>Select Destination and Return Flight Info Below:</h4>
    <form>   
        <label>Destination:
            <select name="Airport">
                <option value=""></option>
                <option value="AUS">Austin, TX - AUS</option>
                <option value="DFW">Dallas, TX - DFW</option>
                <option value="DEN">Denver, CO - DEN</option>
                <option value="LAX">Los Angeles, CA - LAX</option>
                <option value="DEN">San Diego, CA - SAN</option>
            </select>
        <br>    
        <label>Return Date:
            <input type="date" name="departDate"
            value=defaultDate>
            <br>
        <label>Return Time:
            <input type="time" name="departTime">
            </label>
            <br>
            <input type="submit" value="Add Flight">
    </form> 
<%- include('../partials/footer') %>